<section id="contact">
    <div class="section-content">
        <h1 class="section-header">Get in <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Touch with us</span></h1>
        <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h3>
    </div>
    <div class="contact-section">
        <div class="container">
            <%=form_for([@user,:diary,@note]) do |f|%>
                <div class="col-md-6 form-line">
                    <div class="form-group">
                        <%=f.label :title%>
                        <%=f.text_field :title ,class: "form-control",placeholder: "Title goes here.."%>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <%=f.label :content%>
                        <%=f.text_area :content, class: "form-control" ,placeholder: "Content goes here.."%>
                    </div>
                    <div>

                        <%=f.submit "Save Note",class: "btn btn-default"%>
                    </div>

                </div>
            <%end%>
        </div>
</section>
