<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-12 col-md-9">
            <p class="float-right hidden-md-up">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="jumbotron"> 
                <h1>Dear Diary,</h1>
                <% if @note.respond_to?("kv")%>
                    <%=link_to "New Note", new_user_diary_note_path(current_user),class:"btn btn-success"%></p>
                <%else%>
                    You have written today's note. Check it out from the table.
                <%end%>
            </div>
            <div class="row">
                <div class="col-6 col-lg-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div><!--/span-->
                <div class="col-6 col-lg-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div><!--/span-->
                <div class="col-6 col-lg-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div><!--/span-->
                <div class="col-6 col-lg-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div><!--/span-->
                <div class="col-6 col-lg-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div><!--/span-->
                <div class="col-6 col-lg-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div><!--/span-->
            </div><!--/row-->
        </div><!--/span-->

        <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                </br>
                <%= link_to @today, @note.respond_to?("kv")? "#" : user_diary_note_path(current_user,@note),class: "list-group-item active" %>
                <% if @notes_no > 0%>
                    <%= link_to @notes.first.created_at.to_date,user_diary_note_path(current_user,@notes.first),class: "list-group-item " %>
                <%end%>
                <% if @notes_no > 1%>

                    <%= link_to @notes.second.created_at.to_date,user_diary_note_path(current_user,@notes.second),class: "list-group-item " %>
                <%end%>
                <% if @notes_no > 2%>
                    <%= link_to @notes.third.created_at.to_date,user_diary_note_path(current_user,@notes.third),class: "list-group-item " %>
                <%end%>
                <% if @notes_no > 3%>

                    <%= link_to @notes.fourth.created_at.to_date,user_diary_notes_path(current_user,@notes.fourth),class: "list-group-item " %>
                <%end%>
                <% if @notes_no > 4%>
                    <%= link_to @notes.fifth.created_at.to_date,user_diary_note_path(current_user,@notes.fifth),class: "list-group-item " %>
                <%end%>
                <%= link_to "Diary","#",class: "list-group-item " %>
            </div>
        </div><!--/span-->
    </div><!--/row-->

    <hr>


</div><!--/.container-->


<!-- Bootstrap core JavaScript

